.wrapper-left {
	clip-path: inset(0 50% 0 0); /* Mostra apenas a metade esquerda */
	transform: translateX(46%);
}

.wrapper-right {
	clip-path: inset(0 0 0 50%); /* Mostra apenas a metade direita */
	transform: translateX(-46%);
}

.number-hovered {
	outline: 2px solid var(--green); /* Or any other hover effect */
}

.racetrack-label {
	/* Estilos personalizados para o botão na Racetrack */
	background-color: transparent;
	color: white;
	cursor: pointer;
	position: relative;
	height: 16px;
	border: none;
	font-size: 10px !important;
	width: fit-content;
}

/* Estilos padrões para os paths */
.racetrack-number {
	/* Estilos padrões */
	transition: stroke 0.3s;
	box-sizing: border-box;
}

/* Estilos de hover */
.racetrack-number-hovered {
	stroke: var(--green);
	stroke-width: 2px;
}
