# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

bun.lockb

.env.development.local
.env.production.local

#gql

*.gen.*

src/routeTree.gen.ts

graphql.schema.json

src/gql/


.graphclient/

@mf-types/