.table-item-v {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #1e292e;
  cursor: pointer;
  font-weight: 600;
}

.table-item-v-zero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #1e292e;
  cursor: pointer;
  font-weight: 600;
}

.table-external-item-v {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #1e292e;
  cursor: pointer;
}

.table-item-h {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
  border-radius: 6px;
  border: 1px solid #1e292e;
  cursor: pointer;
  font-weight: 600;
}

.table-item-h-zero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #1e292e;
  cursor: pointer;
  font-weight: 600;
}

.table-external-item-h {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
  border-radius: 6px;
  border: 1px solid #1e292e;
  cursor: pointer;
}

.side-item-h-text {
  transform: rotate(0deg);
}

.table-item-v.highlighted {
  outline: 3px solid #38bb7f;
}
