@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		--spinningAnimationSpeed: 30s;
		--spinningSpeed: 9s;

		--green: 153 54% 48%;
		--orange: 0 86% 68%;
		--red: 346 71% 54%;
		--black: 199 21% 15%;
		--purple: 300 100% 32%;
		--purple-lighter: 291 81% 71%;
		--yellow: 47 100% 50%;
		--blue: 195 100% 46%;
		--blue-purple: 233 82% 71%;
		--blue-shiny: 245 100% 70%;
		--gold: 46 93% 46%;
		--silver: 218 10% 63%;
		--bronze: 27 89% 59%;
	}
}

@layer base {
	* {
		user-select: none;
	}
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
