@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@layer components, theme, base, utilities;

@import "@betfinio/components/globals.css" layer(components);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tw-animate-css";

@layer utilities {
	.roulette {
		@tailwind utilities;
		@import "@betfinio/components/globals.css";
	}
	.bg-roulette-center {
		background-image: var(--roulette-center);
	}
}


@theme {
	--color-bonus: var(--bonus);
	--color-primary: var(--primary);
	--color-muted: var(--muted);
	--color-success: var(--success);
	--color-muted-foreground: var(--muted-foreground);
	--color-foreground: var(--foreground);
	--color-black-roulette: var(--black-roulette);
	--color-green-roulette: var(--green-roulette);
	--color-red-roulette: var(--red-roulette);
	--roulette-center: url("./assets/roulette-center.svg");
	--color-card: var(--card);
}


:root {
	--spinningAnimationSpeed: 30s;
	--spinningSpeed: 9s;

	--green: hsl(153 54% 48%);
	--orange: hsl(0 86% 68%);
	--red: hsl(346 71% 54%);
	--black: hsl(199 21% 15%);
	--purple: hsl(300 100% 32%);
	--purple-lighter: hsl(291 81% 71%);
	--yellow: hsl(47 100% 50%);
	--blue: hsl(195 100% 46%);
	--blue-purple: hsl(233 82% 71%);
	--blue-shiny: hsl(245 100% 70%);
	--gold: hsl(46 93% 46%);
	--silver: hsl(218 10% 63%);
	--bronze: hsl(27 89% 59%);
	--wheel-shadow: rgba(0, 172, 231, 0.45);

	/* Roulette colors */
	--black-roulette: var(--black);
	--green-roulette: var(--green);
	--red-roulette: var(--red);
}

@layer base {
	* {
		user-select: none;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

/* Roulette animations */
@keyframes rotate-wheel {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes wiggle {
	0% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
	}
}

.animate-wheel {
	animation: rotate-wheel var(--spinningAnimationSpeed) linear infinite;
}

.animate-wiggle {
	animation: 30s linear 10s wiggle infinite;
}
